.item {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
}

.ControlPanel {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.taskContainer {
  margin: auto;
}

.Dialog,
.DialogTitle,
.DialogContent,
.DialogActions {
  background-color: #4a4646;
  color: #b8b7b7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.InfoBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #b8b7b7;
  background-color: transparent;
}
.InfoBtn:hover {
  background-color: #4a4646;
}
li{
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
  width: 100%;
}