.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

button {
  margin-bottom: 10px;
}
.ControlPanel{
  display: flex;
  justify-content: space-around;
}